<h2>Teams</h2>
<ul class="teams">
  <li *ngFor="let team of teams.overallTeamStandings.teamStandingsEntry; let i = index">
    <div (click)="gotoDetail(teams.overallTeamStandings.teamStandingsEntry[i].rank)">
      {{teams.overallTeamStandings.teamStandingsEntry[i].rank}}
      {{teams.overallTeamStandings.teamStandingsEntry[i].team.City}}
      {{teams.overallTeamStandings.teamStandingsEntry[i].team.Name}}</div>
  </li>
</ul>

<div id="detail-view">
  <team-detail [teamID]="selectedteam"></team-detail>
</div>
